<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fc1b2958-44d5-4399-be55-5f3ff22fee9c" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-application-window-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="750c55b4-f8e9-4904-8eb3-18bcf501beea">headerControls</Composition>
      <Composition Key="b99f9626-873c-46c9-8b60-3b1a32afebde">sEOControls</Composition>
      <Composition Key="8fe52611-9e1a-42e4-903c-8dfaa7962519">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d64d3760-993b-4bee-b7fb-92d14a2c385f" SortOrder="0">blogItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>