<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="891d1240-4285-4140-85f3-b8158d13dfd2" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="750c55b4-f8e9-4904-8eb3-18bcf501beea">headerControls</Composition>
      <Composition Key="b99f9626-873c-46c9-8b60-3b1a32afebde">sEOControls</Composition>
      <Composition Key="8fe52611-9e1a-42e4-903c-8dfaa7962519">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2b37257c-0263-40fc-89c0-40c655bfb285">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="46c71ce0-e0f3-4cca-bdc6-46bd1d14c269" SortOrder="0">overOns</ContentType>
    <ContentType Key="2bd1c704-e390-4088-954f-19aeb02c5d7b" SortOrder="1">onzeAanpak</ContentType>
    <ContentType Key="c70cda7b-5504-4f27-8016-f8128613d17b" SortOrder="2">portfolio</ContentType>
    <ContentType Key="fc1b2958-44d5-4399-be55-5f3ff22fee9c" SortOrder="3">blog</ContentType>
    <ContentType Key="4ed57d28-eabb-41e1-b8ce-90e7532da6dc" SortOrder="4">contact</ContentType>
    <ContentType Key="b88b9a56-08d2-431f-a419-6d7b98f0d8ff" SortOrder="5">settings</ContentType>
    <ContentType Key="491bf86e-cc75-41a2-814e-0d9931c33160" SortOrder="6">page404</ContentType>
    <ContentType Key="d89ee57f-0ae4-4e2a-9837-85019e87646e" SortOrder="7">infoPage</ContentType>
    <ContentType Key="9dcc96e6-959a-4981-8e58-153da3cfc62a" SortOrder="8">services</ContentType>
    <ContentType Key="52cdfdb6-e072-4345-b0e3-5ba1d6417d49" SortOrder="9">cta</ContentType>
    <ContentType Key="35437d09-3eb2-4d3c-982e-2df2c01e8310" SortOrder="10">jobs</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7f4ac7ea-9043-4692-8ca6-3932887a9e82</Key>
      <Name>HeroButtonText</Name>
      <Alias>heroButtonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="heroSection">Hero Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>458152a3-a4d8-4f73-b4a2-c53271b88f7f</Key>
      <Name>Hero Images</Name>
      <Alias>heroImages</Alias>
      <Definition>0e63d883-b62b-4799-88c3-157f82e83ecc</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="heroSection">Hero Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8c05c74e-5de3-4254-bdab-9bbf3e3fa6a5</Key>
      <Name>HeroSubTitle</Name>
      <Alias>heroSubTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="heroSection">Hero Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5bd82221-47b0-4070-ac3c-627628ccd849</Key>
      <Name>HeroTitle</Name>
      <Alias>heroTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="heroSection">Hero Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>418b4e7b-13e6-45e0-b1be-3e4a6014dc71</Key>
      <Name>PijlerItem</Name>
      <Alias>pijlerItem</Alias>
      <Definition>dad9f306-5c90-4a6f-a1a7-5b3582735503</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="pijlers">Pijlers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7732b619-edb2-4f83-8e1e-3bcc73037723</Key>
      <Name>PijlerTitle</Name>
      <Alias>pijlerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pijlers">Pijlers</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1040821-3129-46db-a351-5b9e168ce4e3</Key>
      <Name>Testimonials</Name>
      <Alias>testimonials</Alias>
      <Definition>a6356719-a1b7-4262-8b33-8da88b5c09f3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="testimonials">Testimonials</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>577f8fc0-6f39-4223-b559-c277a6ab3926</Key>
      <Caption>Pijlers</Caption>
      <Alias>pijlers</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>7aad83ec-6ae5-46ca-8654-150a11c78dc5</Key>
      <Caption>Testimonials</Caption>
      <Alias>testimonials</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>7d90120e-255b-4e82-b16d-b495dcc5d73b</Key>
      <Caption>Hero Section</Caption>
      <Alias>heroSection</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>