<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c70cda7b-5504-4f27-8016-f8128613d17b" Alias="portfolio" Level="2">
  <Info>
    <Name>Portfolio</Name>
    <Icon>icon-thumbnail-list color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="750c55b4-f8e9-4904-8eb3-18bcf501beea">headerControls</Composition>
      <Composition Key="b99f9626-873c-46c9-8b60-3b1a32afebde">sEOControls</Composition>
      <Composition Key="8fe52611-9e1a-42e4-903c-8dfaa7962519">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Portfolio</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a8b268f6-4f05-4c6a-8b12-ce530d7bc69a">Portfolio</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a0ac5461-9e60-4bba-97d9-e09fe9783c79" SortOrder="0">portfolioItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>