<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9dcc96e6-959a-4981-8e58-153da3cfc62a" Alias="services" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-server color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="750c55b4-f8e9-4904-8eb3-18bcf501beea">headerControls</Composition>
      <Composition Key="b99f9626-873c-46c9-8b60-3b1a32afebde">sEOControls</Composition>
      <Composition Key="8fe52611-9e1a-42e4-903c-8dfaa7962519">visibilityControls</Composition>
    </Compositions>
    <DefaultTemplate>Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="de9bb1b3-0330-4249-8241-2164bcccc0b6">Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="41be61bb-68ee-44e6-b383-61b8f5281090" SortOrder="0">serviceItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>