@using DebayTechnics.Services
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject IServiceItemService ServiceItemService
@{
  var diensten = ServiceItemService.GetServiceItems();
}
<!-- ======= Footer ======= -->
  <footer id="footer" class="footer" style="background: url('@Url.Content("~/assets/img/footer-bg.jpg")')">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>DeBay Technics</h3>
              <p>
                Langestraat <br>
                9620 Zottegem<br><br>
                <strong>Telefoon:</strong> +32 123 456 789<br>
                <strong>Email:</strong> info@debaytechnics.be<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/over-ons">Over ons</a></li>
              <li><a href="/diensten">Diensten</a></li>
              <li><a href="/gebruiksvoorwaarden">Terms of service</a></li>
              <li><a href="/privacy-policy">Privacy policy</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Diensten</h4>
            <ul>
               @{
                 foreach (var dienst in diensten.Cast<ServiceItem>())
                 {
                   <li><a href="@dienst.Url()">@dienst.Title</a></li>
                 }
               }
            </ul>
          </div><!-- End footer links column-->

          <!--
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Hic solutasetp</h4>
            <ul>
              <li><a href="#">Molestiae accusamus iure</a></li>
              <li><a href="#">Excepturi dignissimos</a></li>
              <li><a href="#">Suscipit distinctio</a></li>
              <li><a href="#">Dilecta</a></li>
              <li><a href="#">Sit quas consectetur</a></li>
            </ul>
          </div> End footer links column-->
          <!--
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nobis illum</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div> End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>DeBay Technics</span></strong>. All Rights Reserved. Made by <a href="www.allhero.be">AllHero</a>
        </div>
        
      </div>
    </div>

  </footer>
  <!-- End Footer -->
