<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4bc83362-0128-4538-b8b7-1290f8d71f90" Alias="Blog Item - Author - Dropdown" Level="1">
  <Info>
    <Name>Blog Item - Author - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Glenn Goossens"
    },
    {
      "id": 2,
      "value": "Lies D'hondt"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>