<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a208aa0c-d863-4236-b02c-390b5260c97e" Alias="CrewMember - Email - Email address" Level="1">
  <Info>
    <Name>CrewMember - Email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>