<?xml version="1.0" encoding="utf-8"?>
<DataType Key="96c07833-7f86-4b34-b60b-2f4b450f7583" Alias="Portfolio Item - Type - Dropdown" Level="1">
  <Info>
    <Name>Portfolio Item - Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 5,
      "value": "Verlichting"
    },
    {
      "id": 6,
      "value": "Laadpalen"
    },
    {
      "id": 7,
      "value": "Domotica"
    },
    {
      "id": 8,
      "value": "Zonnepanelen"
    },
    {
      "id": 9,
      "value": "Algemene Elektriciteit"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>