<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fcbed02-5346-4fe0-bc67-4730458e4192" Alias="20191116 112340 Rotated 1 1152X1536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rotated11152X1536</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:47:14</CreateDate>
    <NodeName Default="20191116 112340 Rotated 1 1152X1536" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/atwnwx0g/20191116_112340-rotated-1-1152x1536.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>