<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d8ea3a3-5d2c-4f1f-bcc9-fcceabc0ed3f" Alias="7734Aaca 9E12 4014 8D92 192D87633fb2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aaca9E1240148D92192D87633fb2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T14:42:41</CreateDate>
    <NodeName Default="7734Aaca 9E12 4014 8D92 192D87633fb2" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uwrj3djm/7734aaca-9e12-4014-8d92-192d87633fb2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>