<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bdf8339-fb00-4b7c-b2e9-4e56fac59b9a" Alias="About" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/About</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:12:18</CreateDate>
    <NodeName Default="About" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h4bn4sya/about.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>