<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a073c33-6c64-48ca-8f03-b9f3bca6e266" Alias="Bewust Jpeg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BewustJpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:48:08</CreateDate>
    <NodeName Default="Bewust Jpeg" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gu4aoote/bewust-jpeg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>