<?xml version="1.0" encoding="utf-8"?>
<Media Key="660899ca-3946-4f9c-80c7-e1c382effb4e" Alias="Biel Morro Hcha Uhkig8 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BielMorroHchaUhkig8Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:23:59</CreateDate>
    <NodeName Default="Biel Morro Hcha Uhkig8 Unsplash" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zsmbqzsg/biel-morro-hcha-uhkig8-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>