<?xml version="1.0" encoding="utf-8"?>
<Media Key="e82e5d5e-394b-4fc9-bf5d-ff28c836be5c" Alias="Constructions 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Constructions1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-19T20:14:30</CreateDate>
    <NodeName Default="Constructions 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lbod30cl/constructions-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>