<?xml version="1.0" encoding="utf-8"?>
<Media Key="db6ecf5e-db6a-4208-9f54-02625d641054" Alias="DB Logo Tekengebied 1 (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DBLogoTekengebied13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-22T14:44:09</CreateDate>
    <NodeName Default="DB Logo Tekengebied 1 (3)" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ldhh3w1k/db-logo_tekengebied-1-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>