<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ade0313-f30e-4509-b7af-8472ce4bd82d" Alias="DB" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DB</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-01-19T15:13:15</CreateDate>
    <NodeName Default="DB" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hubn3gqo/db.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>