<?xml version="1.0" encoding="utf-8"?>
<Media Key="95bf35a2-e6b0-4e0e-ac52-a5a5918df9d6" Alias="Evgeniy Alyoshin Fxw3zkbqd0w Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EvgeniyAlyoshinFxw3zkbqd0wUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:20:22</CreateDate>
    <NodeName Default="Evgeniy Alyoshin Fxw3zkbqd0w Unsplash" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uq0l5fnq/evgeniy-alyoshin-fxw3zkbqd0w-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>