<?xml version="1.0" encoding="utf-8"?>
<Media Key="2bcda208-e069-4c62-90ed-a0bb02e8af82" Alias="Green Energy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GreenEnergy</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:06:22</CreateDate>
    <NodeName Default="Green Energy" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b0rm0k1j/green-energy.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>