<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4111cd2-b30d-4daa-9296-7b4d63988190" Alias="Hernieuwbare Energie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HernieuwbareEnergie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:04:45</CreateDate>
    <NodeName Default="Hernieuwbare Energie" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0qobdnan/hernieuwbare-energie.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>