<?xml version="1.0" encoding="utf-8"?>
<Media Key="20213480-4d89-464f-aebb-4705e66db505" Alias="Hero Carousel 4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroCarousel4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:03:29</CreateDate>
    <NodeName Default="Hero Carousel 4" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qy0cciej/hero-carousel-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>