<?xml version="1.0" encoding="utf-8"?>
<Media Key="0282c03c-12b4-44c3-9b2d-6b775ba06880" Alias="Hero Carousel 5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroCarousel5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:03:29</CreateDate>
    <NodeName Default="Hero Carousel 5" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlaieavu/hero-carousel-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>