<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b8b98de-e74a-48df-9ecf-07096c3edc99" Alias="Hero Carousel 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroCarousel3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:03:29</CreateDate>
    <NodeName Default="Hero Carousel 3" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1cmiws0k/hero-carousel-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>