<?xml version="1.0" encoding="utf-8"?>
<Media Key="1dbf14bb-dcd7-44f9-b282-be868d1416f1" Alias="Image00022" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image00022</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:46:00</CreateDate>
    <NodeName Default="Image00022" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xukl4hox/image00022.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>