<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a3f594a-70ef-41ac-8efb-23c92255cec1" Alias="IMG 4303 150X150" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG4303150X150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:44:40</CreateDate>
    <NodeName Default="IMG 4303 150X150" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jrmd44xp/img_4303-150x150.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>