<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d36b023-89ea-4541-8d79-2ba6d6de583d" Alias="IMG 4460 150X150" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG4460150X150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:44:40</CreateDate>
    <NodeName Default="IMG 4460 150X150" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ewydmtpk/img_4460-150x150.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>