<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6375ff4-9bbd-4acc-88b7-91aef86a62fa" Alias="IMG 4901 150X150" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG4901150X150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:44:40</CreateDate>
    <NodeName Default="IMG 4901 150X150" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4jpdpvv3/img_4901-150x150.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>