<?xml version="1.0" encoding="utf-8"?>
<Media Key="c54e1528-4c53-4ff0-87d1-229400b50e25" Alias="IMG 4496 150X150" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG4496150X150</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:44:40</CreateDate>
    <NodeName Default="IMG 4496 150X150" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fykf3rkt/img_4496-150x150.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>