<?xml version="1.0" encoding="utf-8"?>
<Media Key="da9f2c4d-0269-4402-be31-9b3e784b0872" Alias="Juice Ri8syiog4em Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JuiceRi8syiog4emUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:28:54</CreateDate>
    <NodeName Default="Juice Ri8syiog4em Unsplash" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jmwj5wtj/juice-ri8syiog4em-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>