<?xml version="1.0" encoding="utf-8"?>
<Media Key="aab4de4f-8140-4549-a76d-1adc4c29744c" Alias="Karsten Wurth 0W Uta0xz7w Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KarstenWurth0WUta0xz7wUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:12:34</CreateDate>
    <NodeName Default="Karsten Wurth 0W Uta0xz7w Unsplash" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jhpljksa/karsten-wurth-0w-uta0xz7w-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>