<?xml version="1.0" encoding="utf-8"?>
<Media Key="d05cf1dc-ae72-469c-b6f3-155c2d6d07a3" Alias="Laadpaal1 1152X1536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Laadpaal11152X1536</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:43:07</CreateDate>
    <NodeName Default="Laadpaal1 1152X1536" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1lyfzuds/laadpaal1-1152x1536.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>