<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a89de0f-bc31-47ca-af73-e007ce7ae011" Alias="Laadpaal3 1152X1536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Laadpaal31152X1536</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:43:07</CreateDate>
    <NodeName Default="Laadpaal3 1152X1536" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bhpisorr/laadpaal3-1152x1536.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>