<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5c2bd69-22aa-4859-9bb5-b8fc491c493b" Alias="Led" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Led</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:07:55</CreateDate>
    <NodeName Default="Led" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n44nfrnk/led.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>