<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d879d82-5579-412f-8e94-ac16c8bfbe7c" Alias="Logo Allhero (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoAllhero1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T10:53:08</CreateDate>
    <NodeName Default="Logo Allhero (1)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qsojohlz/logo-allhero-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>