<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5abfc64-3145-4d4f-9935-c04143b4b066" Alias="Logo Debaybewust" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoDebaybewust</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-01-19T15:42:15</CreateDate>
    <NodeName Default="Logo Debaybewust" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pt4kxjkf/logo-debaybewust.jp2]]></Value>
    </umbracoFile>
  </Properties>
</Media>