<?xml version="1.0" encoding="utf-8"?>
<Media Key="223c34c5-d83e-4aa5-a9dd-1c105c24eef1" Alias="Lopende9 1152X1536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Lopende91152X1536</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:36:51</CreateDate>
    <NodeName Default="Lopende9 1152X1536" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ym0dyir4/lopende9-1152x1536.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>