<?xml version="1.0" encoding="utf-8"?>
<Media Key="2018246e-f25d-4b44-ab41-d30431e32251" Alias="Nuno Marques 0Gbrjl3vzf4 Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NunoMarques0Gbrjl3vzf4Unsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:20:22</CreateDate>
    <NodeName Default="Nuno Marques 0Gbrjl3vzf4 Unsplash" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nasbqic3/nuno-marques-0gbrjl3vzf4-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>