<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4d97835-179d-4673-8bbb-f81aafb642e5" Alias="Pexels Pixabay 68138" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PexelsPixabay68138</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-27T12:00:50</CreateDate>
    <NodeName Default="Pexels Pixabay 68138" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gn2ntne3/pexels-pixabay-68138.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>