<?xml version="1.0" encoding="utf-8"?>
<Media Key="48137b31-72eb-4214-8504-e6017eebe8d2" Alias="Sezer Arslan Ibpi5ys7qmm Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SezerArslanIbpi5ys7qmmUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:15:51</CreateDate>
    <NodeName Default="Sezer Arslan Ibpi5ys7qmm Unsplash" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g33bgshl/sezer-arslan-ibpi5ys7qmm-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>