<?xml version="1.0" encoding="utf-8"?>
<Media Key="31878d28-7776-47f6-80c0-34535a785261" Alias="Thomas Richter B09tl5bsqjk Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ThomasRichterB09tl5bsqjkUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-19T15:20:21</CreateDate>
    <NodeName Default="Thomas Richter B09tl5bsqjk Unsplash" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f0gjomlw/thomas-richter-b09tl5bsqjk-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>