<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7ae12d1-f932-46bf-a607-bc2755600228" Alias="Verlichting59 N 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Verlichting59N1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:36:21</CreateDate>
    <NodeName Default="Verlichting59 N 1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/02jk3rzs/verlichting59_n-1.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>