<?xml version="1.0" encoding="utf-8"?>
<Media Key="acf20834-2cc3-400f-85d7-127ce611cb98" Alias="Videofonie" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videofonie</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:38:03</CreateDate>
    <NodeName Default="Videofonie" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/giepflgd/videofonie.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>