<?xml version="1.0" encoding="utf-8"?>
<Media Key="244e51ba-1f68-4f77-9178-74559b2ebc2a" Alias="Werken8 1 1152X1536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Werken811152X1536</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:45:59</CreateDate>
    <NodeName Default="Werken8 1 1152X1536" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xrif2jdi/werken8-1-1152x1536.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>