<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6e2de88-4804-4dcd-921c-b8003ba7e58c" Alias="Werken6 1152X1536" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Werken61152X1536</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-24T14:46:00</CreateDate>
    <NodeName Default="Werken6 1152X1536" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r1pofrqe/werken6-1152x1536.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>