<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2eb57d6-21e6-451b-9c1a-195b6680cc12" Alias="Zonnepanelen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Zonnepanelen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-22T15:08:44</CreateDate>
    <NodeName Default="Zonnepanelen" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0blpx2xg/zonnepanelen.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>