<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5fe35a5-ca29-4749-a9e4-ec0add01788a" Alias="404" Level="102">
  <Info>
    <Parent Key="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">Home</Parent>
    <Path>/[-20]/Home/</Path>
    <Trashed Parent="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">true</Trashed>
    <ContentType>page404</ContentType>
    <CreateDate>2023-12-19T20:18:19</CreateDate>
    <NodeName Default="404" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b23ae56-9c16-4996-80dc-655719620616">Page404</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>