<?xml version="1.0" encoding="utf-8"?>
<Content Key="8987e4aa-f73f-414a-b4af-ef8d6adec445" Alias="404" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>page404</ContentType>
    <CreateDate>2023-12-19T21:20:16</CreateDate>
    <NodeName Default="404" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9b23ae56-9c16-4996-80dc-655719620616">Page404</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>