<?xml version="1.0" encoding="utf-8"?>
<Content Key="2799b88a-a4db-451b-9d98-a07b597be795" Alias="Brand detectie" Level="3">
  <Info>
    <Parent Key="5abf8992-60a9-47b7-9593-ded8066e9f1c">Diensten</Parent>
    <Path>/Home/Diensten/BrandDetectie</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2024-01-27T12:01:14</CreateDate>
    <NodeName Default="Brand detectie" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="233145aa-996b-4283-9517-2a538a85813d">ServiceItem</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>Hier moet nog wat info komen</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <icon>
      <Value><![CDATA[fa-solid fa-fire-extinguisher]]></Value>
    </icon>
    <image>
      <Value><![CDATA[[
  {
    "key": "bf05b545-5738-4ddc-9073-8cb3ee85bdfb",
    "mediaKey": "b4d97835-179d-4673-8bbb-f81aafb642e5"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Brand detectie]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>