<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0074f14-7d45-408c-99ff-548ac2ec1035" Alias="Contact" Level="102">
  <Info>
    <Parent Key="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">Home</Parent>
    <Path>/[-20]/Home/Contact</Path>
    <Trashed Parent="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">true</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-12-19T20:18:10</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <errorMessage>
      <Value><![CDATA[Oeps! Er liep iets fout, probeer later opnieuw]]></Value>
    </errorMessage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[Hoera! We contacteren je zo snel mogelijk]]></Value>
    </successMessage>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>