<?xml version="1.0" encoding="utf-8"?>
<Content Key="99b7919a-f1f0-452c-a071-aa22446a208d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-12-19T21:19:57</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d35e41e0-d668-4b43-b0c8-18a7557aea1c">Contact</Template>
  </Info>
  <Properties>
    <adres>
      <Value><![CDATA[Langestraat, Zottegem]]></Value>
    </adres>
    <email>
      <Value><![CDATA[info@debaytechnics.be]]></Value>
    </email>
    <errorMessage>
      <Value><![CDATA[Oeps! Er liep iets fout, probeer later opnieuw]]></Value>
    </errorMessage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <successMessage>
      <Value><![CDATA[Hoera! We contacteren je zo snel mogelijk]]></Value>
    </successMessage>
    <telefoon>
      <Value><![CDATA[+32 4712 34 56]]></Value>
    </telefoon>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>