<?xml version="1.0" encoding="utf-8"?>
<Content Key="fea916ba-274f-4fbf-9157-4237bb662a97" Alias="Elektricien" Level="3">
  <Info>
    <Parent Key="7657b44b-9990-491c-8f60-433668d2e080">Jobs</Parent>
    <Path>/Home/Jobs/Elektricien</Path>
    <Trashed>false</Trashed>
    <ContentType>jobItem</ContentType>
    <CreateDate>2024-01-27T11:39:41</CreateDate>
    <NodeName Default="Elektricien" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99283d0f-b958-4643-bc36-4e326e34303e">JobItem</Template>
  </Info>
  <Properties>
    <bedrijfsinfo>
      <Value><![CDATA[{
  "markup": "<p>Hier wat overtuigende informatie over debay technics</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bedrijfsinfo>
    <functiebeschrijving>
      <Value><![CDATA[{
  "markup": "<p>Jouw werkdag als industrieel elektricien bij Ruben Hillewaere start ’s ochtends vroeg aan ons atelier in Roeselare. Samen met je collega vertrek je richting één van onze werven, die zich hoofdzakelijk in West-Vlaanderen lokaliseren. Door een eerdere grondige briefing van je collega-projectleider over de werken, ga je ter plaatse aan de slag!</p>\n<p>Een greep uit je takenpakket:</p>\n<ul>\n<li>Je staat in voor de algemene elektrische installaties in kantoorgebouwen en winkels.</li>\n<li>Je doet het voorbereidende kap -en slijpwerk, trekt kabels, sluit leidingen aan,…</li>\n<li>Je plaatst verdeelkasten, verlichting, verwarming,…</li>\n<li>Je borgt een feilloze afwerking en een piekfijn resultaat voor je klant.</li>\n</ul>\n<p>Je werkt meestal in teams per 2 – af en toe gebeurt het ook dat je alleen op de werf bent.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </functiebeschrijving>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <profielBeschrijving>
      <Value><![CDATA[{
  "markup": "<div class=\"text_exposed_show\">\n<p>Je bent een teamspeler, maar wanneer nodig kan je ook zelfstandig werken. Omdat we klantenservice erg belangrijk vinden, hecht je veel belang aan klantvriendelijkheid, beheers je vlot de Nederlandse taal en heb je een verzorgd voorkomen. Je werkt steeds nauwkeurig en net: je streeft ernaar een hoge afwerkingsgraad af te leveren. Je werkt graag met de nieuwste materialen en haalt voldoening uit het afleveren van moderne designprojecten.</p>\n</div>\n<ul>\n<li>Diploma TSO of Bachelor Elektriciteit.</li>\n<li>Ervaring is een pluspunt</li>\n<li>Je werkt graag mee aan groteren, langdurige projecten</li>\n</ul>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </profielBeschrijving>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Elektricien]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>