<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ad1f9a3-3a1e-4cbb-858e-f2b5de48582b" Alias="GlobalSettings" Level="102">
  <Info>
    <Parent Key="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">Home</Parent>
    <Path>/[-20]/Home/GlobalSettings</Path>
    <Trashed Parent="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">true</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-12-19T20:19:03</CreateDate>
    <NodeName Default="GlobalSettings" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accountName>
      <Value><![CDATA[]]></Value>
    </accountName>
    <fromAddress>
      <Value><![CDATA[]]></Value>
    </fromAddress>
    <host>
      <Value><![CDATA[]]></Value>
    </host>
    <password>
      <Value><![CDATA[]]></Value>
    </password>
    <port>
      <Value><![CDATA[]]></Value>
    </port>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>