<?xml version="1.0" encoding="utf-8"?>
<Content Key="36676cfd-b554-4010-acf6-a75c52ee670e" Alias="GlobalSettings" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2023-12-19T21:20:07</CreateDate>
    <NodeName Default="GlobalSettings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <accountName>
      <Value><![CDATA[info@allhero.be]]></Value>
    </accountName>
    <fromAddress>
      <Value><![CDATA[info@allhero.be]]></Value>
    </fromAddress>
    <host>
      <Value><![CDATA[smtp.stackmail.com]]></Value>
    </host>
    <password>
      <Value><![CDATA[123ParikE!]]></Value>
    </password>
    <port>
      <Value><![CDATA[587]]></Value>
    </port>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>