<?xml version="1.0" encoding="utf-8"?>
<Content Key="51987a4f-74e6-4d3e-82ed-880e3df1ddb1" Alias="Home" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Home</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-12-19T20:16:37</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dienstenSubTitle>
      <Value><![CDATA[]]></Value>
    </dienstenSubTitle>
    <dienstenTitle>
      <Value><![CDATA[Diensten]]></Value>
    </dienstenTitle>
    <heroButtonText>
      <Value><![CDATA[Contacteer ons]]></Value>
    </heroButtonText>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "70d2755f-48e3-4e64-a1c4-e82377513ac6",
    "mediaKey": "e82e5d5e-394b-4fc9-bf5d-ff28c836be5c"
  }
]]]></Value>
    </heroImage>
    <heroSubTitle>
      <Value><![CDATA[Uw specialist in elektriciteitswerken]]></Value>
    </heroSubTitle>
    <heroTitle>
      <Value><![CDATA[Debay Technics]]></Value>
    </heroTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <testimonials>
      <Value><![CDATA[]]></Value>
    </testimonials>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>