<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae5cad00-357a-4d54-9fc8-168c87da712b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-12-19T21:18:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b37257c-0263-40fc-89c0-40c655bfb285">Home</Template>
  </Info>
  <Properties>
    <heroButtonText>
      <Value><![CDATA[Contacteer ons]]></Value>
    </heroButtonText>
    <heroImages>
      <Value><![CDATA[[
  {
    "key": "8a5bfe59-d14f-49ad-a31a-afd17c17956b",
    "mediaKey": "585f16c6-e202-4bec-b4fb-3b5487cd004e"
  },
  {
    "key": "911facc8-f07d-407e-a062-7021db1fd6cb",
    "mediaKey": "0282c03c-12b4-44c3-9b2d-6b775ba06880"
  },
  {
    "key": "6c8a9c61-1e4b-4dae-b8e5-74272a08cfa6",
    "mediaKey": "4b8b98de-e74a-48df-9ecf-07096c3edc99"
  },
  {
    "key": "96e5f4ef-5c5a-4b8f-9647-f1534df8b85e",
    "mediaKey": "20213480-4d89-464f-aebb-4705e66db505"
  },
  {
    "key": "eaf43eee-2db5-49d8-abbe-0a2155680f9b",
    "mediaKey": "f2ea96e0-fb7e-4218-a7b6-8d12e8a8ce22"
  }
]]]></Value>
    </heroImages>
    <heroSubTitle>
      <Value><![CDATA[Uw Specialist in elektriciteitswerken]]></Value>
    </heroSubTitle>
    <heroTitle>
      <Value><![CDATA[Welkom bij Debay Technics]]></Value>
    </heroTitle>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <pijlerItem>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e24aa4d31e2c4189a2cfab40ff979b01"
      },
      {
        "contentUdi": "umb://element/27e7a894ac3d45758b8f62aac816f45f"
      },
      {
        "contentUdi": "umb://element/87adb2494ad141a3809311030b82d1fe"
      },
      {
        "contentUdi": "umb://element/36ee4924ed4e48c7950a80e86ab0f954"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4622779e-0dbe-4dae-a3f5-f39fe31a2309",
      "udi": "umb://element/e24aa4d31e2c4189a2cfab40ff979b01",
      "title": "Hernieuwbare energie",
      "beschrijving": "Combineer efficiëntie en comfort met slimme groene energie",
      "image": [
        {
          "key": "a933743b-e727-41d5-b1af-5ed8307b47d2",
          "mediaKey": "b4111cd2-b30d-4daa-9296-7b4d63988190"
        }
      ]
    },
    {
      "contentTypeKey": "4622779e-0dbe-4dae-a3f5-f39fe31a2309",
      "udi": "umb://element/27e7a894ac3d45758b8f62aac816f45f",
      "title": "Domotica efficiëntie",
      "beschrijving": "Een intelligente server in uw installatie opnemen, bepaalde verlichting dimmen ...",
      "image": [
        {
          "key": "ebe7dde4-7462-4d20-a4fb-d5e9fdc0884a",
          "mediaKey": "57a962e8-c2ba-4442-ab83-8200ba28e73d"
        }
      ]
    },
    {
      "contentTypeKey": "4622779e-0dbe-4dae-a3f5-f39fe31a2309",
      "udi": "umb://element/87adb2494ad141a3809311030b82d1fe",
      "title": "Green energy",
      "beschrijving": "Opbouw van een groenere wereld zonder CO2-uitstoot! EV chargers of laadpalen helpen hierbij",
      "image": [
        {
          "key": "d7566c9e-ef47-424d-8e79-8cf6ba4fd7a9",
          "mediaKey": "2bcda208-e069-4c62-90ed-a0bb02e8af82"
        }
      ]
    },
    {
      "contentTypeKey": "4622779e-0dbe-4dae-a3f5-f39fe31a2309",
      "udi": "umb://element/36ee4924ed4e48c7950a80e86ab0f954",
      "title": "Led & Verlichting",
      "beschrijving": "Jouw woning verdient het om in de spotlights te staan!",
      "image": [
        {
          "key": "e6852db7-d4be-45fd-b035-fff59aecb95a",
          "mediaKey": "c5c2bd69-22aa-4859-9bb5-b8fc491c493b"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </pijlerItem>
    <pijlerTitle>
      <Value><![CDATA[Onze Pijlers]]></Value>
    </pijlerTitle>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <testimonials>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/09595ae8480d4978864e8cf8fbce2576"
      },
      {
        "contentUdi": "umb://element/d8a8721990c24a768bc4782c203497cc"
      },
      {
        "contentUdi": "umb://element/65ccc86f30de41269623dfa5e86ea5c1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "b73a9671-1640-4c4a-a09b-55a5daacec7e",
      "udi": "umb://element/09595ae8480d4978864e8cf8fbce2576",
      "naam": "Glenn Goossens",
      "review": {
        "markup": "<p>Super werk geleverd!</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b73a9671-1640-4c4a-a09b-55a5daacec7e",
      "udi": "umb://element/d8a8721990c24a768bc4782c203497cc",
      "naam": "Lies D'Hondt",
      "review": {
        "markup": "<p>Perfect werk</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "b73a9671-1640-4c4a-a09b-55a5daacec7e",
      "udi": "umb://element/65ccc86f30de41269623dfa5e86ea5c1",
      "naam": "Ina De Backer",
      "review": {
        "markup": "<p>De beste ooit</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </testimonials>
    <title>
      <Value><![CDATA[Home]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>