<?xml version="1.0" encoding="utf-8"?>
<Content Key="7657b44b-9990-491c-8f60-433668d2e080" Alias="Jobs" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/Jobs</Path>
    <Trashed>false</Trashed>
    <ContentType>jobs</ContentType>
    <CreateDate>2024-01-27T11:36:27</CreateDate>
    <NodeName Default="Jobs" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a1e86b71-a8c6-4a4b-a0a2-e89513cf8ee7">Jobs</Template>
  </Info>
  <Properties>
    <beschrijving>
      <Value><![CDATA[{
  "markup": "<p>We verwelkomen je graag in een stabiele, mensgerichte onderneming die jou niet alleen een tweede thuis wil bieden, maar waar de identiteit en de organisatie gebaseerd zijn op waarden als eigenaarschap, respect en vertrouwen, ontplooiing en ontwikkeling, samenwerken en innovatief ondernemerschap.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </beschrijving>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[Kom ons team versterken]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Jobs]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>