<?xml version="1.0" encoding="utf-8"?>
<Content Key="f79563a0-f4e3-4fef-9d0c-5a3c559bc21b" Alias="Over ons" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/OverOns</Path>
    <Trashed>false</Trashed>
    <ContentType>overOns</ContentType>
    <CreateDate>2023-12-23T10:25:22</CreateDate>
    <NodeName Default="Over ons" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="3e8c7e8a-2448-4854-811d-6db5f38e61f1">OverOns</Template>
  </Info>
  <Properties>
    <aantalKlanten>
      <Value><![CDATA[452]]></Value>
    </aantalKlanten>
    <aboutText>
      <Value><![CDATA[{
  "markup": "<p><strong>DeBay Technics</strong>&nbsp;is in eerste instantie ontstaan om mensen te&nbsp;<strong>helpen&nbsp;</strong>met kleine elektriciteits werken.</p>\n<div class=\"technical-solutions\">\n<ul>\n<li>Alle elektriciteitswerken, verlichting.</li>\n<li>Domotica en camerabeveiliging.</li>\n<li>Zonnepanelen.</li>\n<li>Laadpalen en thuisbatterijen.</li>\n<li>Hernieuwbare energie.</li>\n</ul>\n<p>DeBay luistert graag naar jouw vragen en/of wensen en creëert een perfectie en efficiënt plan volgens het gewenste budget.</p>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </aboutText>
    <crew>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b17cbe2b80274a8b9e18c5fe3f88c273"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "3d17932f-add7-498f-bef4-5f007917305f",
      "udi": "umb://element/b17cbe2b80274a8b9e18c5fe3f88c273",
      "naam": "Yorben De Backer",
      "image": [
        {
          "key": "7a5dd1b1-c1b2-47b8-a1aa-c9f65cb53e48",
          "mediaKey": "a3ca4d38-391e-45f3-a96d-22ddd687275b"
        }
      ],
      "email": "yorben@debaytechnics.be"
    }
  ],
  "settingsData": []
}]]></Value>
    </crew>
    <headImage>
      <Value><![CDATA[[
  {
    "key": "0e85689b-a4aa-4a91-bce5-5e871b67436c",
    "mediaKey": "4bdf8339-fb00-4b7c-b2e9-4e56fac59b9a"
  }
]]]></Value>
    </headImage>
    <jarenErvaring>
      <Value><![CDATA[10]]></Value>
    </jarenErvaring>
    <medewerkers>
      <Value><![CDATA[5]]></Value>
    </medewerkers>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <projecten>
      <Value><![CDATA[559]]></Value>
    </projecten>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[Waar het allemaal begon]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Over ons]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>