<?xml version="1.0" encoding="utf-8"?>
<Content Key="9bf931db-7b6b-468e-b691-a59af2dc0798" Alias="Projecten" Level="102">
  <Info>
    <Parent Key="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">Home</Parent>
    <Path>/[-20]/Home/Projecten</Path>
    <Trashed Parent="51987a4f-74e6-4d3e-82ed-880e3df1ddb1">true</Trashed>
    <ContentType>portfolio</ContentType>
    <CreateDate>2023-12-19T20:17:18</CreateDate>
    <NodeName Default="Projecten" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Projecten]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>