<?xml version="1.0" encoding="utf-8"?>
<Content Key="49f6c69c-b7af-4948-984e-e2338eaad99c" Alias="Projecten" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/Projecten</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolio</ContentType>
    <CreateDate>2023-12-19T21:19:29</CreateDate>
    <NodeName Default="Projecten" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a8b268f6-4f05-4c6a-8b12-ce530d7bc69a">Portfolio</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Projecten]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>