<?xml version="1.0" encoding="utf-8"?>
<Content Key="e6b2929c-d415-4652-b520-94d42d9bd20b" Alias="Review" Level="2">
  <Info>
    <Parent Key="ae5cad00-357a-4d54-9fc8-168c87da712b">Home</Parent>
    <Path>/Home/Review</Path>
    <Trashed>false</Trashed>
    <ContentType>review</ContentType>
    <CreateDate>2025-01-07T17:51:42</CreateDate>
    <NodeName Default="Review" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="276a4ade-ed49-46a3-b33c-661de54f0c70">Review</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Reviews]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>