<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec6edad7-4745-416c-b471-e505ea7af954" Alias="Spontane sollicitatie" Level="3">
  <Info>
    <Parent Key="7657b44b-9990-491c-8f60-433668d2e080">Jobs</Parent>
    <Path>/Home/Jobs/SpontaneSollicitatie</Path>
    <Trashed>false</Trashed>
    <ContentType>jobItem</ContentType>
    <CreateDate>2024-01-27T11:36:58</CreateDate>
    <NodeName Default="Spontane sollicitatie" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="99283d0f-b958-4643-bc36-4e326e34303e">JobItem</Template>
  </Info>
  <Properties>
    <bedrijfsinfo>
      <Value><![CDATA[]]></Value>
    </bedrijfsinfo>
    <functiebeschrijving>
      <Value><![CDATA[]]></Value>
    </functiebeschrijving>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <profielBeschrijving>
      <Value><![CDATA[]]></Value>
    </profielBeschrijving>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[Solliciteer spontaan bij ons]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Spontane Sollicitatie]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>