<?xml version="1.0" encoding="utf-8"?>
<Content Key="9426a4ba-1835-4ce1-b3c2-e67fbc131e00" Alias="Ventilatie" Level="3">
  <Info>
    <Parent Key="5abf8992-60a9-47b7-9593-ded8066e9f1c">Diensten</Parent>
    <Path>/Home/Diensten/Ventilatie</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2024-01-27T12:01:49</CreateDate>
    <NodeName Default="Ventilatie" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="233145aa-996b-4283-9517-2a538a85813d">ServiceItem</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>Hier moet nog wat informatie komen</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <icon>
      <Value><![CDATA[fa-solid fa-wind]]></Value>
    </icon>
    <image>
      <Value><![CDATA[[
  {
    "key": "8afe1d91-726a-4482-9910-72f735e6859b",
    "mediaKey": "e05e50f9-2323-4834-b15b-d476b13ca498"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Ventilatie]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>