<?xml version="1.0" encoding="utf-8"?>
<Content Key="826d8ed3-9359-4f69-bc0b-8e62dc735ac7" Alias="Verlichting" Level="3">
  <Info>
    <Parent Key="5abf8992-60a9-47b7-9593-ded8066e9f1c">Diensten</Parent>
    <Path>/Home/Diensten/Verlichting</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceItem</ContentType>
    <CreateDate>2023-12-22T15:10:13</CreateDate>
    <NodeName Default="Verlichting" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="233145aa-996b-4283-9517-2a538a85813d">ServiceItem</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>Op zoek naar&nbsp;stijlvolle verlichting&nbsp;voor een nieuwbouw of renovatie project? Combinatie van direct en indirect licht? Of een&nbsp;herstelling&nbsp;nodig? DeBay adviseert en voert uit, van eenvoudig tot complex.&nbsp;Jouw woning verdient het om in de spotlights te staan!</p>\n<p>Neem contact met ons voor een persoonlijk gesprek: luisteren naar de klant en een wens omzetten in een mooie en betaalbare verlichting is onze specialiteit. Klik op de iconen hieronder om enkele voorbeelden te ontdekken.&nbsp; De lichten van je huis of bedrijf kunnen ook werken met een domotica systeem, hiervoor adviseren we je ook heel graag met raad en daad tot en met plaatsing.</p>\n<p>Op zoek naar stijlvolle verlichting voor een nieuwbouw of renovatie project? Combinatie van direct en indirect licht? Of een herstelling nodig? DeBay adviseert en voert uit, van eenvoudig tot complex. Jouw woning verdient het om in de spotlights te staan!</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <icon>
      <Value><![CDATA[fa-solid fa-lightbulb]]></Value>
    </icon>
    <image>
      <Value><![CDATA[[
  {
    "key": "747faf1f-4f28-462c-b55b-53f4482dd047",
    "mediaKey": "c7ae12d1-f932-46bf-a607-bc2755600228"
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Verlichting]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>