<?xml version="1.0" encoding="utf-8"?>
<Content Key="912d05d8-2c60-4e17-9060-4e2b451a374e" Alias="Viktron energie batterij" Level="3">
  <Info>
    <Parent Key="49f6c69c-b7af-4948-984e-e2338eaad99c">Projecten</Parent>
    <Path>/Home/Projecten/ViktronEnergieBatterij</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioItem</ContentType>
    <CreateDate>2023-12-22T15:17:39</CreateDate>
    <NodeName Default="Viktron energie batterij" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf6afc7f-9653-44b2-80f2-553a6ba32cf6">PortfolioItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "84732d3b-2e52-4f03-950d-12f0d8d02098",
    "mediaKey": "57e05392-1c28-4829-bfbd-8ead73b4ef43"
  },
  {
    "key": "9df283fd-7c29-477e-be94-da41def4cd21",
    "mediaKey": "66d39143-5af1-4e11-b1de-d5ca76b4d83d"
  }
]]]></Value>
    </image>
    <locatie>
      <Value><![CDATA[Kortrijk]]></Value>
    </locatie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <projectName>
      <Value><![CDATA[Viktron energie batterij]]></Value>
    </projectName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <type>
      <Value><![CDATA[[
  "Algemene Elektriciteit"
]]]></Value>
    </type>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>