<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ed61748-6b90-4a07-8daf-5d30a0044be6" Alias="Zonnepanelen full black 390 wp" Level="3">
  <Info>
    <Parent Key="49f6c69c-b7af-4948-984e-e2338eaad99c">Projecten</Parent>
    <Path>/Home/Projecten/ZonnepanelenFullBlack390Wp</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioItem</ContentType>
    <CreateDate>2023-12-24T14:44:51</CreateDate>
    <NodeName Default="Zonnepanelen full black 390 wp" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cf6afc7f-9653-44b2-80f2-553a6ba32cf6">PortfolioItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "bdfb4e4a-a0f9-46ac-83e4-381c8cedfef1",
    "mediaKey": "19850d96-1998-4352-8314-53c0b2fa5d67"
  },
  {
    "key": "d7be93a7-79ab-4426-806f-73942989ace8",
    "mediaKey": "f9b5aa49-75a0-4b06-bd56-b2b01992b788"
  },
  {
    "key": "096ed021-c369-4985-af52-666ac873368a",
    "mediaKey": "35419348-8530-4d42-944b-ca741ad42b21"
  },
  {
    "key": "9271d389-7ee6-408c-b449-0e6de2035c49",
    "mediaKey": "7a3f594a-70ef-41ac-8efb-23c92255cec1"
  },
  {
    "key": "7f61c368-4109-4959-a17f-df34ada21d95",
    "mediaKey": "02cd5d17-7da5-4715-9af7-e9d1991bda0f"
  },
  {
    "key": "9445cc38-2f6a-413d-a9cf-66cf26381050",
    "mediaKey": "c54e1528-4c53-4ff0-87d1-229400b50e25"
  },
  {
    "key": "5ec21d95-b95f-4f50-add7-4307dc90f48f",
    "mediaKey": "d6375ff4-9bbd-4acc-88b7-91aef86a62fa"
  },
  {
    "key": "777b8791-4816-439f-988f-20883fcdadf1",
    "mediaKey": "cf6ca47a-422e-41f1-8019-8e38268d6d71"
  },
  {
    "key": "1f3ff666-a7f5-4b02-be40-f3393cf67f09",
    "mediaKey": "81c277c9-22fb-4b0a-bfe6-e626d23c2903"
  },
  {
    "key": "5b154228-fb7c-4e48-93d5-8939d4517bc8",
    "mediaKey": "4d36b023-89ea-4541-8d79-2ba6d6de583d"
  }
]]]></Value>
    </image>
    <locatie>
      <Value><![CDATA[Regio]]></Value>
    </locatie>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <projectName>
      <Value><![CDATA[Zonnepanelen full black 390 wp]]></Value>
    </projectName>
    <socialShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialShareImage>
    <type>
      <Value><![CDATA[[
  "Zonnepanelen"
]]]></Value>
    </type>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>